

  .frete-e-pagamento {
    padding: 30px;
    display: flex;
    justify-content: space-between;
    width: 100%;

  }

  .input-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 5px
  }

  .cep {
    flex-direction: column;
    width: 20%;
    display: flex;
    margin-top: 5px
  }

  .calcular-frete {
    width: 47%;
    gap: 15px
  }

  .pagamento {
    width: 47%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 15px
  }
  

  .frete-escolhido {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 25px;
    justify-content: center;
    align-items: center;
    margin-top:25px
  }
  .cupom-de-desconto {
    margin: 10px 0; 
  }

  .calculo-pagamento,.forma-de-pagamento {
    display:flex;
    flex-direction: column;
    gap:20px
  }

  
  
 /*INPUT RADIO E CHECKBOX CUSTOMIZADOS */
  .radio-wrapper {
    display: flex;
    align-items: center;
  }
 
  .radio-wrapper input {
    appearance: none;
    width:15px;
    height:15px;
    border: 2px solid #e4a30b;
    margin-left: 5px;
    position:relative;
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

  }
  
  .radio-wrapper input::before{
    content: "";
    position:absolute;
    width:7px;
    height:7px;
    background-color: #ffbb00;
    border-radius: 50%;
    opacity: 0; 
    transition: all .3s;
    
  }

  .radio-wrapper input:checked::before {
    opacity:1
  }

  .checkbox-wrapper {
    display: flex;
    align-items: center;
  }  
  .checkbox-wrapper input {
    appearance: none;
    width:17px;
    height:17px;
    border: 2px solid #e4a30b;
    margin-left: 5px;
    position:relative;
    display:flex;
    align-items: center;
    justify-content: center;
  }
  .checkbox-wrapper input::before {
    content: "";
    position:absolute;
    width: 9px;
    height: 6px;
    border-left: 2.8px solid #ffbb00;
    border-bottom: 2.8px solid #ffbb00;
    transform: rotate(310deg);
    top:0.8px;
    opacity:0;
    transition: all .1s
}
.checkbox-wrapper input:checked::before{
  opacity:1
}

/* Carrinho de Compras */
.img-do-produto {
  width: 135px;
  height: 135px
}

.produto-no-carrinho {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 15px;
}

.soma-produtos {
  align-self: flex-end;
  position: relative;
  right: 40px;
}
.carrinho-de-produtos {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: stretch;
    align-items: stretch;
}
.input-wrapper-quant {
  display: flex;
  flex-direction: column;
}
.quantidade-input {
  width: 35px;
  align-self: center;
  padding: 2px;
}

  

  
  