body{
    background-color: #f7f7f7;
}

main.login-page{
    width: 50%;
    height: 100vh;
    margin: 0 auto;   
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 50px 0px;
}

.login-page .title-login{
    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: .1rem;
    color: #111111
}

.login-page .subtitle-login{
    font-size: .8rem;
    margin-top: 10px;
    color: #707070;
}

.login-page form
,
.login-page form .row .content-help{
    background-color: #ffffff;
    box-shadow: 0px 0px 8px 0px rgba(112,112,112,1);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    height: 100%;
}

.login-page form .row .input-group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.login-page form .row .w-100{
    width: 100%;
}

.login-page form .row label{
    color: #9c9c9c;
    font-weight: bold;
    font-size: 14px;
    display: none;
}

.login-page form .row input{
    color: #111111;
    padding: 10px;
    margin-top: 6px;
    border: 1px solid #9C9C9C;
    border-radius: 8px;
    width: 70%;
}

.login-page form .row input:focus{
    outline: none;
    border: 1px solid #707070;
    box-shadow: 0px 0px 8px 0px rgba(112,112,112,1);
}

.login-page form input[type=submit]{
    background-color: #FFBB00;
    border: none;
    border-radius: 8px;
    color: #111111;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    cursor: pointer;
}

.login-page form input[type=submit]:hover{
    background-color: #E5A40B;
    color: #111111e7;
}

.login-page form .content-help{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-page form .content-help .facebook-login img{
    width: 70%;
}

.login-page form .content-help .facebook-login{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    border: 2px solid #3b5998;
    color: #3b5998;
    font-weight: bold;
    border-radius: 8px;
    padding: 10px;
    width: 70%;
    cursor: pointer;
}

.login-page form .content-help .facebook-login:hover{
    background-color: #3b589854;
}
 
.login-page form .content-help .register-here{ 
    margin-top: 10px;
    border: 2px solid #E5A40B;
    color: #E5A40B;
    font-weight: bold;
    border-radius: 8px;
    padding: 10px;
    width: 70%;
    text-transform: uppercase;
    cursor: pointer;
}

.login-page form .content-help .register-here:hover{
    background-color: #E5A40B;
    color: #ffffff;
}

.login-page form .content-help .forget-pass p{
    font-size: 12px;
    margin-top: 15px;
}

.login-page .content-help .forget-pass p a{
    text-decoration: underline;
}
