/****************************
          STYLE CSS
****************************/

/****************************
          IMPORTS
****************************/
@import "./global/global.css";
@import "./global/footer.css";
@import "./global/header.css";
@import "./utils/components.css";
@import "./utils/colors.css";
@import "./utils/typography.css";
@import "./utils/form.css";
@import "./utils/user_page_info.css";
@import "./home/banners.css";
@import "./home/products_list.css";
@import "./home/commemorative_events.css";
@import "./home/partners.css";
@import "./home/checking-age-user.css";
@import "./user-page/user-page.css";
@import "./global/logged_user_header.css";
@import "./utils/userpage_form.css";
@import "./registration-page/registration-page.css";
@import "./login/login.css";
@import "./product-page/product-page.css";
@import "./home/home.css";
@import "./contato/contato.css";
@import "./lojas/lojas.css";
@import "./catalogo-produtos/catalogo-produtos.css";
@import "./utils/animacao.css";

