<header>
  <div class="container">
    <h2>Logo</h2>
    <div class="dropdown">
      <a
        href="#"
        class="user-profile"
        id="dropdownUser1"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        <strong>Olá, Fulano</strong>
      </a>
    </div>
  </div>
</header>
