<nav >
    <ul class="container">
        <li>
            <a href="/admin/index"><i class="bi bi-house"></i> Início</a>
        </li>
        <li>
            <a href="/admin/pedidos"><i class="bi bi-bag-check"></i> Pedidos</a>
        </li>
        <li>
            <a href="/admin/produtos"><i class="bi bi-list-task"></i> Produtos</a>
        </li>
        <li>
            <a href="/admin/clientes"><i class="bi bi-people"></i> Clientes</a>
        </li>
    </ul>
</nav>