.mobile-menu-icon{
  display:none;
}

.header-logged_user{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
}

.search-btn {
  background: var(--color-p1);
  padding: 10px;
  border-radius: 20%;
  transition: 1s;
}

.search-txt {
  border: none;
  background: none;
  outline: none;
  padding: 5px;
  margin: 5px;
  color: var(--color-p1);
  font-size: 1.20rem;
  transition: 0.4s;
  line-height: 10px;
  width: 0px;
  font-family: var(--font-roboto);
  transition: 1s;
}

.search-box {
  transition: 1s;
}

.search-txt::-webkit-input-placeholder {
  font-size: 1.25rem;
  font-family: var(--font-roboto);
  color: var(--color-p1);
  opacity: 0.5;
}

.search-box:hover > .search-txt {
  width: 200px;
  
}

.fa-search {
  color: var(--color-p4);
}

.icons-size{
  font-size: 25px;
}

.icon:hover{
  color: var(--color-p1);
}

.logged_user_user-icon,
.logged_user_favorite-icon,
.logged_user_order-icon,
.logged_user_exit-icon{
  color: var(--color-0);
}

.logged_user_user-icon:hover,
.logged_user_favorite-icon:hover,
.logged_user_order-icon:hover,
.logged_user_exit-icon:hover{
  color: var(--color-p1);
}

@media screen and (max-width: 900px){
  .mobile-menu-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .icons-size{
    font-size: 20px;
  }
}