.product{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  gap: 40px;
  padding-bottom: 60px;
}

.product-images {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.product-images img {
  flex: 1;
  min-width: 200px;
  border-radius: 4px;
}

.product-images img:first-child {
  min-width: 100%;
}

.product-images span {
  grid-area: 1/1;
  margin-top: 20px;
  place-self: start end;
  display: inline-block;
  background-color: var(--color-12);
  padding: 8px 16px 8px 8px;
  border-radius: 4px 0 0 4px;
}

.product-content{
  display: grid;
  grid-template-rows: 1fr auto;
  align-content: start;
}

.product-content h2{
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  margin-bottom: 12px;
}

.product-content > p{
  margin-bottom: 40px;
}

.buy-product{
  display: grid;
  grid-template-columns: max-content auto;
  align-items: center;
  justify-items: start;
  margin-bottom: 40px;
  gap: 8px 12px;
}

.buy-product a{
  grid-row: span 2;
}

.buy-product span{
  display: flex;
  align-items: center;
  background-color: var(--color-12);
  padding: 4px 8px;
  border-radius: 4px;
  gap: 8px;
}