.userpage_info{
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.userpage_info{
  padding: 50px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.userpage_info{
  border-radius: 0 5px 5px 0;
  background-color: var(--color-12);
}

.userpage_info h2{
  font: 500 2rem var(--font-roboto);
}