form .row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  gap: 5%;
  margin-top: 10px;
}

form .row .input-group {
  display: flex;
  flex-direction: column;
}

form .row .checkbox-group,
.radio-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

form .row .w-15 {
  width: 15%;
}

form .row .w-47 {
  width: 47.5%;
}

form .row .w-80 {
  width: 80%;
}

form .row .w-100 {
  width: 100%;
}

form .row .input-group label,
form .cadastro-check label {
  color: #9c9c9c;
  font-weight: bold;
  font-size: 14px;
}

form input {
  border-radius: 2px;
  color: #111111;
  padding: 10px;
  margin-top: 6px;
}

form
  .row
  input:not([type="checkbox"]):not([type="submit"]):not([type="radio"]) {
  border: 1px solid #9c9c9c;
}

form
  .row
  input:focus:not([type="checkbox"]):not([type="submit"]):not([type="radio"]) {
  outline: none;
  border-color: var(--color-p1);
  background: var(--color-0);
  box-shadow: 0 0 0 2px #fea;
}

form input[type="submit"] {
  background-color: #ffbb00;
  border: none;
  border-radius: 2px;
  color: #111111;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
}

form input[type="submit"]:hover {
  background-color: #e5a40b;
  color: #111111e7;
}

.checkbox-group input {
  appearance: none;
  width: 15px;
  height: 15px;
  border: 2px solid #e5a40b;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0px;
}

.checkbox-group input::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 5px;
  border-left: 2.8px solid #ffffff;
  border-bottom: 2.8px solid #ffffff;
  transform: rotate(310deg);
  top: 3.8px;
  opacity: 0;
  transition: all 0.1s;
}

.checkbox-group input:checked {
  background-color: #e5a40b;
}
.checkbox-group input:checked::before {
  opacity: 1;
}

.radio-group input {
  appearance: none;
  width: 15px;
  height: 15px;
  border: 2px solid #e4a30b;
  margin-left: 5px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-top: 0px;
}

.radio-group input::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: #e4a30b;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.3s;
}

.radio-group input:checked::before {
  opacity: 1;
}
