<!DOCTYPE html>
<html lang="pt-br">
  <head>

    <%- include("../components/head.ejs") %>
    <link rel="stylesheet" href="../css/admin/login/login.css" />

    <title>Administrador - Login</title>
  </head>
  <body class="text-center bg-dark">
    
    <main class="form-signin">
      <% if (message != "") { %>
        <div id="alert-update" class="alert alert-<%=type%> d-flex justify-content-between align-items-center" role="alert">
          <%=message%>
          <span id="close-message"><i class="bi bi-x align-self-center"></i></span>
        </div>
      <% } %>
      <form action="/admin/login" method="POST">   
        <a href="/index" id="">
          <img src="/images/logo/logo.svg" alt="Logo" srcset="" width="300px">
        </a>      
        <h1 class="h3 mb-3 fw-normal text-white">Login</h1>
        <div class="form-floating">
          <input
            type="email"
            class="form-control"
            id="email"
            placeholder="name@example.com"
            name="email"
          />
          <label for="email">E-mail</label>
        </div>
        <div class="form-floating">
          <input
            type="password"
            class="form-control"
            id="password"
            placeholder="Password"
            name="password"
          />
          <label for="password">Senha</label>
        </div>
        
        <button class="w-100 btn btn-lg btn-warning" type="submit">
          Login
        </button>
      </form>
    </main>
    <script src="/scripts/produto.js"></script>
  </body>
</html>
