.header-bg{
  background-color: var(--color-11);
}

.header{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: var(--font-roboto);
}

.header a{
  color: var(--color-1);
}

.header-menu,
.header-login{
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.header-menu a{
  display: inline-block;
  padding: 16px 0px;
  position: relative;
}

.header-login button{
  position: relative;
  display: inline-block;
}

/*
  A propriedade CSS content é usada com os pseudoelementos ::before e ::after para gerar conteúdo em um elemento
*/
.header-menu a::after {
  content: "";
  display: block;
  height: 2px;
  width: 0;
  background: var(--color-1);
  margin-top: 4px;
  transition: 0.3s;
  position: absolute;
}

.header-menu a:hover::after,
.header-menu a.ativo::after
{
  width: 100%;
}