header {
  background-color: var(--color-12);
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 6rem;
}

.logo {
  display: flex;
  align-items: center;
}

.logo h1 {
  color: #fff;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-list ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

.nav-item {
  margin: 0 15px;
}

.nav-item:nth-child(4),
.nav-item:nth-child(5) {
  margin-top: 10px;
}

.nav-link {
  font-family: var(--font-roboto);
  font-size: 1.15rem;
  color: #fff;
  padding: 10px 5px; /* Aumentar área de contato do botão */
  position: relative;
}

.nav-link:hover {
  color: var(--color-p1);
}

.nav-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--color-p1);
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.nav-link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.login-button {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.login-button button a {
  color: #fff;
  font-weight: 500;
  font-size: 1.1rem;
}

.mobile-menu-icon {
  display: none;
}

.mobile-menu {
  display: none;
}

@media screen and (max-width: 900px) {
  .nav-bar {
    padding: 1.5rem 4rem;
  }
  .nav-item {
    display: none;
  }
  .login-button {
    display: none;
    padding: 0px;
  }
  .mobile-menu-icon {
    display: block;
  }
  .mobile-menu-icon button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  .mobile-menu ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 1rem;
  }
  .mobile-menu .nav-item {
    display: block;
    padding-top: 1.2rem;
  }
  .mobile-menu .login-button {
    display: block;
    padding: 0 2rem;
  }

  .signUp_button {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .mobile-menu .login-button button {
    width: 100%;
  }
  .open {
    display: block;
  }
}
