<!DOCTYPE html>
<html lang="pt-br">
<head>
  <%- include("components/head.ejs") %>
  <title>Ooops!</title>
</head>
<body class="body-age_user">
    <main class="principal">
      <div class="checking-content">
        <div class="checking-text">
          <h2 class="font-2-xxl">Ooops!</h2>
          <p class="font-1-l-b">Sem brincadeira, essa página realmente não existe. Verifique a url digitada :)</p>
        </div>
        <div class="checking-image">
          <img src="./images/checagem/decoracao-checagem.svg" alt="" width="540" height="540">
        </div>
      </div>
    </main>    
    <script src="./scripts/plugins/simple-anime.js"></script>
    <script src="./scripts/script.js"></script>
</body>
</html>