<!DOCTYPE html>
<html lang="pt-br">
<head>
  <%- include("components/head.ejs") %>
  <title>Ooops!</title>
</head>
<body class="body-age_user">
    <main class="principal">
      <div class="checking-content">
        <div class="checking-text">
          <h2 class="font-2-xxl">Ooops!</h2>
          <p class="font-1-l-b">Essa página não foi encontrada, mas se você for maior de 18 anos, pode ficar e beber conosco.</p>
          <div class="buttons">
            <a class="adult-button font-1-s" href="/index">Sou maior de idade</a>
            <a class="kid-button font-1-s" href="/idade_recusada">Sou menor de idade</a>
          </div>
        </div>
        <div class="checking-image">
          <img src="./images/checagem/decoracao-checagem.svg" alt="" width="540" height="540">
        </div>
      </div>
    </main>    
    <script src="./scripts/plugins/simple-anime.js"></script>
    <script src="./scripts/script.js"></script>
</body>
</html>