<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <%- include("components/head.ejs") %>
    
    <title>Login</title>
  </head>

  <body id="pagina_login">
    <%- include("components/header.ejs") %>

    <main class="main">
      <div class="title-bg">
        <div class="title container">
          <p class="font-2-l-b color-5 fadeInLeft" data-anime="200">
            insira seus dados
          </p>
          <h1 class="font-1-xxl color-0 fadeInLeft" data-anime="400">
            Página de login<span class="color-p1">.</span>
          </h1>
        </div>
      </div>
      <% if (typeof emailError !="undefined" ){ %>

        <%- include("modals/emailError.ejs"); %>

        <% } %>
      <form class="login_page container" action="/login" method="POST">
        <fieldset class="personal-data fadeInLeft" data-anime="600">
          <div class="row">
            <div class="input-group w-100">
              <label for="email">E-mail*</label>
              <input type="email" id="email" name="email"/>
            </div>
          </div>
          <div class="row">
            <div class="input-group w-100">
              <label for="password">Senha*</label>
              <input type="password" id="password" name="password"/>
            </div>
            <div class="row">
              <div class="input-group w-100 fadeInUp" data-anime="800">
                <input type="submit" value="Entrar" />
              </div>
            </div>
          </div>
        </fieldset>
      </form>
    </main>

    <%- include("components/footer.ejs") %>
    <script src="./scripts/plugins/simple-anime.js"></script>
    <script src="./scripts/script.js"></script>
    <script src="./scripts/emailError.js"></script>
  </body>
</html>
