<div id="fade"></div>
<div id="modal">
  <div class="modal-header">
    <h2>As senhas não coincidem!</h2>
    <button id="close-modal">Fechar</button>
  </div>
  <div class="modal-body">
    <p class="font-1-m color-11">
      Por favor, verifique a senha digitada.
    </p>
  </div>
</div>