<div id="fade"></div>
<div id="modal">
  <div class="modal-header">
    <h2>Email não cadastrado!</h2>
    <button id="close-modal">Fechar</button>
  </div>
  <div class="modal-body">
    <p class="font-1-m color-11">
      Por favor, verifique o email digitado. Caso não tenha cadastro, clique em "Cadastrar" para criar uma conta. 
    </p>
  </div>
</div>