.commemorative_events-bg{
  background-color: var(--color-p1);
  box-shadow: inset 0 80px var(--color-body), inset 0 -80px var(--color-body);
}

#commemorative_events_prodPage.commemorative_events-bg{
  background-color: var(--color-p1);
  box-shadow: inset 0 80px var(--color-body), inset 0 -80px var(--color-p1);
}

.events{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.events_picture img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
  border-radius: 4px;
}

.events_contents{
  padding-top: 160px;
  padding-bottom: 160px;
}

.events_contents > span{
  display: block;
  margin-bottom: 10px;
}

.events_contents > h2{
  margin-bottom: 40px;
}

.events_contents > p{
  margin-bottom: 40px;
}

.events_contents a{
  margin-bottom: 80px;
}

@media (max-width: 800px){

  .commemorative_events-bg{
    box-shadow: initial;
  }

  .events{
    grid-template-columns: 1fr;
  }

  .events_contents{
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .events_picture{
    display: none;
  }

  .events_contents a{
    margin-bottom: 60px;
  }
}
