.products_list{
  padding-top: 60px;
  padding-bottom: 120px;
}

.products_list h2{
  margin-bottom: 40px;
}

.products_list ul{
  display: flex;
  gap: 40px;
  padding: 0 20px 20px 20px;
  /* max-width: 1400px;
  margin-left: auto;
  margin-right: auto; */

    /*A propriedade overflow especifica quando o conteúdo de um elemento de nível de bloco deve ser cortado, exibido com barras de rolagem ou se transborda do elemento.

  O uso da propriedade overflow com valor diferente de visible (seu valor padrão), criará um novo contexto de formatação de bloco. Isto é tecnicamente necessário para evitar que um conteúdo flutuante que entre em contato com o objeto dentro da área de rolamento e quebre as linhas do conteúdo para ajustar a disposição do texto. A quebra das linhas ocorre sempre que a barra de rolagem é utilizada, tornando a experiência de rolagem lenta.

  ********
  Valores:
  ********
  -> visible:
    Valor padrão. O conteúdo não é cortado e pode ser renderizado para fora da caixa de conteúdo.
  -> hidden:
    O conteúdo é cortado e nenhuma barra de rolagem é exibida.
  -> scroll:
    O conteúdo é acessível através de barras de rolagem que são exibidas mesmo que o conteúdo não precise. Isso evita o problema de barras de rolagem aparecendo e desaparecendo quando o conteúdo é dinâmico. Impressoras podem imprimir o conteúdo vazado.
  -> auto:
    Depende do navegador utilizado. Navegadores desktop como o Firefox geralmente exibem barras de rolagem apenas quando necessário.*/
    overflow-x: auto;
}

.products_list li{
  min-width: 280px;
}

.products_list a{
  /* Alterando o padrão que é inline */
  display: block;
}

.products_list img{
  margin-bottom: 16px;
  border-radius: 4px;
}

.products_list h3{
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}

.products_list h3::before{
  content: '';
  display: inline-block;
  height: 8px;
  width: 12px;
  margin-right: 8px;
  background-color: var(--color-p1);
  transition: width 0.3s;
}

.products_list a:hover h3::before{
  width: 30px;
}



.products_list li span{
  padding-left: 20px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-p1); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-p3); 
}