.alert #close-message{
    font-size: 1.5rem;
    cursor: pointer;
    font-weight: bold;
    transition: .3s;
  }
  
  .alert #close-message:hover{
    color: rgb(33, 105, 0);
  }

  #alert-update.hidden{
    display: none;
  }

  img#imagem-produto,
  .card .card-img-top img {
    object-fit: cover;
  }

