<header>
  <nav class="nav-bar">
    <div class="logo fadeInDown" data-anime="200">
      <h1>Logo</h1>
    </div>
    <div class="nav-list">
      <ul role="menu">
        <li class="nav-item fadeInDown" data-anime="400"><a href="/lojas" class="nav-link">Loja</a></li>
        <li class="nav-item fadeInDown" data-anime="600"><a href="/catalogo" class="nav-link">Catálogo</a></li>
        <li class="nav-item fadeInDown" data-anime="800"><a href="/contato" class="nav-link">Contato</a></li>
      </ul>
    </div>
    <div class="login-button">
      <a class="signIn_button font-2-xs fadeInDown" data-anime="1000" href="./login.html">Entrar</a>
      <a class="signUp_button font-2-xs color-0 fadeInDown" data-anime="1200" href="./pagina_registro.html">Cadastrar</a>
    </div>

    <div class="mobile-menu-icon">
      <button onclick="menuShow()"><img class="icon" src="/images/menu-hamburguer/menu_white_36dp.svg" alt=""></button>
    </div>
  </nav>
  <div class="mobile-menu">
    <ul>
      <li class="nav-item">
        <a href="/lojas" class="nav-link">Loja</a>
      </li>
      <li class="nav-item">
        <a href="/catalogo" class="nav-link">Produtos</a>
      </li>
      <li class="nav-item">
        <a href="/contato" class="nav-link">Contato</a>
      </li>
      <li class="nav-item">
        <a class="signIn_button font-2-xs fadeInDown" data-anime="1000" href="./login.html">Entrar</a>
      </li>
      <li class="nav-item">
        <a class="signUp_button font-2-xs color-0 fadeInDown" data-anime="1200" href="./pagina_registro.html">Cadastrar</a>
      </li>
    </ul>
  </div>
</header>