<header>
  <nav class="nav-bar">
    <div class="logo">
      <h1>Logo</h1>
    </div>
    <div class="nav-list">
      <ul role="menu">
        <li class="nav-item"><a href="/lojas" class="nav-link">Loja</a></li>

        <li class="nav-item"><a href="/catalogo" class="nav-link">Produtos</a></li>
        <li class="nav-item"><a href="/contato" class="nav-link">Contato</a></li>
      </ul>
    </div>
    <div class="login-button">
      <ul class="header-logged_user">
        <li>
          <a href="/perfil" class="logged_user_user-icon icons-size">
            <i class="fa fa-user"></i>
          </a>
        </li>
        <li>
          <a href="" class="logged_user_favorite-icon icons-size">
            <i class="fa-solid fa-heart"></i>
          </a>
        </li>
        <li>
          <a href="" class="logged_user_order-icon icons-size">
            <i class="fa-solid fa-cart-shopping"></i>
          </a>
        </li>
        <li class="search-box">
          <input class="search-txt" type="text" name="" placeholder="Pesquisar">
          <a class="search-btn" href=""><i class="fa fa-search"></i></a>
        </li>
        <li>
          <a href="/logout" class="logged_user_exit-icon icons-size">
            <i class="fa-solid fa-arrow-right-from-bracket"></i>
          </a>
        </li>
      </ul>
    </div>

    <div class="mobile-menu-icon">
      <a href="" class="logged_user_user-icon icons-size">
        <i class="fa fa-user"></i>
      </a>
      <a href="" class="logged_user_favorite-icon icons-size">
        <i class="fa-solid fa-heart"></i>
      </a>
      <a href="" class="logged_user_order-icon icons-size">
        <i class="fa-solid fa-cart-shopping"></i>
      </a>
      <button onclick="menuShow()"><img class="icon" src="./images/menu-hamburguer/menu_white_36dp.svg" alt=""></button>
    </div>
  </nav>
  <div class="mobile-menu">
    <ul>
      <li class="nav-item"><a href="/lojas" class="nav-link">Loja</a></li>

      <li class="nav-item"><a href="/catalogo" class="nav-link">Produtos</a></li>
      <li class="nav-item"><a href="/contato" class="nav-link">Contato</a></li>
    </ul>

    <div class="login-button">

    </div>
  </div>
</header>