<section class="userpage_menu">
  <div class="userpage_picture">
    <img src="./images/usuario/foto de perfil.svg" alt="Foto de perfil">
  </div>
  <div class="userpage_options font-1-l color-12">
    <ul>
      <li>
        <a href="/perfil">Perfil</a>
      </li>
      <li>
        <a href="/pedidos">Pedidos</a>
      </li>
      <li>
        <a href="/endereco">Endereço</a>
      </li>
      <li>
        <a href="/pagamentos">Pagamentos</a>
      </li>
    </ul>
  </div>
</section>
